EHP_PRODUCTO/EHP_Implementación/Código/EHP_Backend/node_modules
EHP_PRODUCTO/EHP_Implementación/Código/EHP_Backend/.env
EHP_PRODUCTO/EHP_Implementación/Código/EHP_Backend/EHP_database.db
EHP_PRODUCTO/EHP_Implementación/Código/EHP_Frontend/ehp-us-inscribirse-en-actividad/node_modules

.idea