@font-face {
    font-family: Oswald;
    src: url("./assets/fonts/Oswald.ttf");
}

@import "tailwindcss";

@theme {
    --font-oswald: Oswald, "sans-serif"
}

body {
    background-image: url("./assets/img/bg2.jpg");
    background-size: 15em;
}